In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [53]:
base_url = "https://ncrdb.usga.org/courseTeeInfo?CourseID="
# all_data = []
empty_count = 0
current_id = 4

In [54]:
## Test with CGC
id_cgc = 1899
cgc_url = base_url + str(id_cgc)
response = requests.get(cgc_url)
soup = BeautifulSoup(response.content, 'html.parser')

In [55]:
table = soup.find('table',id='gvTee')

In [56]:
header_row = table.find('tr', class_='tableRows')

In [57]:
headers = [th.get_text(strip=True) for th in header_row.find_all('th')]

In [58]:
headers

['Tee Name',
 'Gender',
 'Par',
 'Course Rating™',
 'Bogey Rating™',
 'Slope Rating®',
 'RatingF9',
 'RatingB9',
 'Front (9)',
 'Back (9)',
 'Bogey Rating (F9)',
 'Bogey Rating (B9)',
 'Slope (F9)',
 'Slope (B9)',
 'TeeID',
 'Length',
 '',
 'CH']

In [59]:
len(headers)

18

In [22]:
metadata_table = soup.find('table', id='gvCourseTees')

In [23]:
# Extract the values from the table's row
course_name = metadata_table.find_all('td')[0].get_text(strip=True).split(" - ")[0]
city = metadata_table.find_all('td')[1].get_text(strip=True)
state = metadata_table.find_all('td')[2].get_text(strip=True)

In [24]:
print("Course Name:", course_name)
print("City:", city)
print("State:", state)

Course Name: Colorado Golf Club
City: Parker
State: CO

In [25]:
# Find all rows excluding the header row
rows = table.find_all('tr')[1:]  # Skip the header row

In [26]:
# Extract data from each row
data = []
for row in rows:
    cells = row.find_all('td')
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)

In [27]:
# Print extracted data
for row in data:
    print(row)

['Championship', 'M', '72', '76.5', '104.8', '152', '38.4', '38.1', '38.4 / 149', '38.1 / 155', '52.2', '52.6', '149', '149', '225891', '7571', '', '']
['Champ/Black', 'M', '72', '75.6', '103.7', '151', '37.8', '37.8', '37.8 / 147', '37.8 / 155', '51.5', '52.2', '147', '147', '165159', '7409', '', '']
['Black', 'M', '72', '75.1', '103.0', '150', '37.7', '37.4', '37.7 / 147', '37.4 / 153', '51.4', '51.6', '147', '147', '225892', '7300', '', '']
['Black/Paintbrush', 'M', '72', '74.0', '101.3', '147', '37.1', '36.9', '37.1 / 145', '36.9 / 149', '50.6', '50.7', '145', '145', '165160', '7095', '', '']
['Paintbrush', 'M', '72', '73.1', '99.3', '141', '36.6', '36.5', '36.6 / 139', '36.5 / 143', '49.5', '49.8', '139', '139', '646913', '6925', '', '']
['Paintbrush/White', 'M', '72', '70.8', '96.2', '137', '35.5', '35.3', '35.5 / 136', '35.3 / 138', '48.1', '48.1', '136', '136', '646903', '6503', '', '']
['White', 'M', '72', '69.9', '94.0', '130', '35.0', '34.9', '35.0 / 135', '34.9 / 125', '47.5', '46.5', '135', '135', '225894', '6228', '', '']
['White/Wild', 'M', '72', '66.6', '89.7', '125', '33.7', '32.9', '33.7 / 127', '32.9 / 122', '45.5', '44.2', '127', '127', '717049', '5567', '', '']
['Wildflower', 'M', '72', '64.8', '86.9', '119', '32.9', '31.9', '32.9 / 123', '31.9 / 115', '44.3', '42.6', '123', '123', '225963', '5187', '', '']
['White', 'F', '72', '75.7', '111.8', '153', '38.5', '37.2', '38.5 / 154', '37.2 / 152', '56.7', '55.1', '154', '154', '646922', '6184', '', '']
['Flex', 'F', '72', '72.5', '105.5', '140', '36.9', '35.6', '36.9 / 143', '35.6 / 137', '53.8', '51.7', '143', '143', '646957', '5527', '', '']
['Wildflower', 'F', '72', '70.3', '101.4', '132', '35.7', '34.6', '35.7 / 135', '34.6 / 129', '51.6', '49.8', '135', '135', '228067', '5187', '', '']

In [14]:
# Create DataFrame
df = pd.DataFrame(data, columns=headers)
df = df.drop(columns='CH')

# Add the extracted values as new columns to the beginning of the DataFrame
df.insert(0, 'Course Name', course_name)
df.insert(1, 'City', city)
df.insert(2, 'State', state)

df

,Course Name,City,State,Tee Name,Gender,Par,Course Rating™,Bogey Rating™,Slope Rating®,RatingF9,RatingB9,Front (9),Back (9),Bogey Rating (F9),Bogey Rating (B9),Slope (F9),Slope (B9),TeeID,Length,
0,Colorado Golf Club,Parker,CO,Championship,M,72,76.5,104.8,152,38.4,38.1,38.4 / 149,38.1 / 155,52.2,52.6,149,149,225891,7571,
1,Colorado Golf Club,Parker,CO,Champ/Black,M,72,75.6,103.7,151,37.8,37.8,37.8 / 147,37.8 / 155,51.5,52.2,147,147,165159,7409,
2,Colorado Golf Club,Parker,CO,Black,M,72,75.1,103.0,150,37.7,37.4,37.7 / 147,37.4 / 153,51.4,51.6,147,147,225892,7300,
3,Colorado Golf Club,Parker,CO,Black/Paintbrush,M,72,74.0,101.3,147,37.1,36.9,37.1 / 145,36.9 / 149,50.6,50.7,145,145,165160,7095,
4,Colorado Golf Club,Parker,CO,Paintbrush,M,72,73.1,99.3,141,36.6,36.5,36.6 / 139,36.5 / 143,49.5,49.8,139,139,646913,6925,
5,Colorado Golf Club,Parker,CO,Paintbrush/White,M,72,70.8,96.2,137,35.5,35.3,35.5 / 136,35.3 / 138,48.1,48.1,136,136,646903,6503,
6,Colorado Golf Club,Parker,CO,White,M,72,69.9,94.0,130,35.0,34.9,35.0 / 135,34.9 / 125,47.5,46.5,135,135,225894,6228,
7,Colorado Golf Club,Parker,CO,White/Wild,M,72,66.6,89.7,125,33.7,32.9,33.7 / 127,32.9 / 122,45.5,44.2,127,127,717049,5567,
8,Colorado Golf Club,Parker,CO,Wildflower,M,72,64.8,86.9,119,32.9,31.9,32.9 / 123,31.9 / 115,44.3,42.6,123,123,225963,5187,
9,Colorado Golf Club,Parker,CO,White,F,72,75.7,111.8,153,38.5,37.2,38.5 / 154,37.2 / 152,56.7,55.1,154,154,646922,6184,
10,Colorado Golf Club,Parker,CO,Flex,F,72,72.5,105.5,140,36.9,35.6,36.9 / 143,35.6 / 137,53.8,51.7,143,143,646957,5527,
11,Colorado Golf Club,Parker,CO,Wildflower,F,72,70.3,101.4,132,35.7,34.6,35.7 / 135,34.6 / 129,51.6,49.8,135,135,228067,5187,

In [31]:
## Test with CGC
id_empty = 2
empty_url = base_url + str(id_empty)
response = requests.get(empty_url)
error_soup = BeautifulSoup(response.content, 'html.parser')

In [32]:
error_soup

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="Search course ratings and slope" name="Description"/>
<meta content="United States Golf Association, USGA, Golf, NCRDB, National Course Rating Database, Course Rating Lookup, Online Course Ratings" name="keywords"/>
<title>National Course Rating Database</title>
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="https://www.usga.org/content/usga/home-page.jsonp.js"></script>
<link href="/lib/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/usga_skinned_apps_styles.css" rel="Stylesheet" type="text/css"/>
<link href="/css/usga_skinned_apps_media_screens.css" rel="Stylesheet" type="text/css"/>
<link href="/css/theme.default.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<script src="/js/jquery.tablesorter.min.js"></script>
<script src="//assets.adobedtm.com/be647daa0868f11f8113c7fb433bafc636024ba2/satelliteLib-83349796437417787abc21e3f4ac547f4e6c55e0.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            USGA.addNavigation();
        });
        $(function () {
            console.log("in");
            $("#gvCourses").tablesorter();
        });


    </script>
<script type="text/javascript">!function(T,l,y){var S=T.location,k="script",D="instrumentationKey",C="ingestionendpoint",I="disableExceptionTracking",E="ai.device.",b="toLowerCase",w="crossOrigin",N="POST",e="appInsightsSDK",t=y.name||"appInsights";(y.name||T[e])&&(T[e]=t);var n=T[t]||function(d){var g=!1,f=!1,m={initialize:!0,queue:[],sv:"5",version:2,config:d};function v(e,t){var n={},a="Browser";return n[E+"id"]=a[b](),n[E+"type"]=a,n["ai.operation.name"]=S&&S.pathname||"_unknown_",n["ai.internal.sdkVersion"]="javascript:snippet_"+(m.sv||m.version),{time:function(){var e=new Date;function t(e){var t=""+e;return 1===t.length&&(t="0"+t),t}return e.getUTCFullYear()+"-"+t(1+e.getUTCMonth())+"-"+t(e.getUTCDate())+"T"+t(e.getUTCHours())+":"+t(e.getUTCMinutes())+":"+t(e.getUTCSeconds())+"."+((e.getUTCMilliseconds()/1e3).toFixed(3)+"").slice(2,5)+"Z"}(),iKey:e,name:"Microsoft.ApplicationInsights."+e.replace(/-/g,"")+"."+t,sampleRate:100,tags:n,data:{baseData:{ver:2}}}}var h=d.url||y.src;if(h){function a(e){var t,n,a,i,r,o,s,c,u,p,l;g=!0,m.queue=[],f||(f=!0,t=h,s=function(){var e={},t=d.connectionString;if(t)for(var n=t.split(";"),a=0;a<n.length;a++){var i=n[a].split("=");2===i.length&&(e[i[0][b]()]=i[1])}if(!e[C]){var r=e.endpointsuffix,o=r?e.location:null;e[C]="https://"+(o?o+".":"")+"dc."+(r||"services.visualstudio.com")}return e}(),c=s[D]||d[D]||"",u=s[C],p=u?u+"/v2/track":d.endpointUrl,(l=[]).push((n="SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details)",a=t,i=p,(o=(r=v(c,"Exception")).data).baseType="ExceptionData",o.baseData.exceptions=[{typeName:"SDKLoadFailed",message:n.replace(/\./g,"-"),hasFullStack:!1,stack:n+"\nSnippet failed to load ["+a+"] -- Telemetry is disabled\nHelp Link: https://go.microsoft.com/fwlink/?linkid=2128109\nHost: "+(S&&S.pathname||"_unknown_")+"\nEndpoint: "+i,parsedStack:[]}],r)),l.push(function(e,t,n,a){var i=v(c,"Message"),r=i.data;r.baseType="MessageData";var o=r.baseData;return o.message='AI (Internal): 99 message:"'+("SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details) ("+n+")").replace(/\"/g,"")+'"',o.properties={endpoint:a},i}(0,0,t,p)),function(e,t){if(JSON){var n=T.fetch;if(n&&!y.useXhr)n(t,{method:N,body:JSON.stringify(e),mode:"cors"});else if(XMLHttpRequest){var a=new XMLHttpRequest;a.open(N,t),a.setRequestHeader("Content-type","application/json"),a.send(JSON.stringify(e))}}}(l,p))}function i(e,t){f||setTimeout(function(){!t&&m.core||a()},500)}var e=function(){var n=l.createElement(k);n.src=h;var e=y[w];return!e&&""!==e||"undefined"==n[w]||(n[w]=e),n.onload=i,n.onerror=a,n.onreadystatechange=function(e,t){"loaded"!==n.readyState&&"complete"!==n.readyState||i(0,t)},n}();y.ld<0?l.getElementsByTagName("head")[0].appendChild(e):setTimeout(function(){l.getElementsByTagName(k)[0].parentNode.appendChild(e)},y.ld||0)}try{m.cookie=l.cookie}catch(p){}function t(e){for(;e.length;)!function(t){m[t]=function(){var e=arguments;g||m.queue.push(function(){m[t].apply(m,e)})}}(e.pop())}var n="track",r="TrackPage",o="TrackEvent";t([n+"Event",n+"PageView",n+"Exception",n+"Trace",n+"DependencyData",n+"Metric",n+"PageViewPerformance","start"+r,"stop"+r,"start"+o,"stop"+o,"addTelemetryInitializer","setAuthenticatedUserContext","clearAuthenticatedUserContext","flush"]),m.SeverityLevel={Verbose:0,Information:1,Warning:2,Error:3,Critical:4};var s=(d.extensionConfig||{}).ApplicationInsightsAnalytics||{};if(!0!==d[I]&&!0!==s[I]){var c="onerror";t(["_"+c]);var u=T[c];T[c]=function(e,t,n,a,i){var r=u&&u(e,t,n,a,i);return!0!==r&&m["_"+c]({message:e,url:t,lineNumber:n,columnNumber:a,error:i}),r},d.autoExceptionInstrumented=!0}return m}(y.cfg);function a(){y.onInit&&y.onInit(n)}(T[t]=n).queue&&0===n.queue.length?(n.queue.push(a),n.trackPageView({})):a()}(window,document,{
src: "https://js.monitor.azure.com/scripts/b/ai.2.min.js", // The SDK URL Source
crossOrigin: "anonymous",
cfg: { // Application Insights Configuration
    connectionString: 'InstrumentationKey=c8a36188-afa6-4c7e-b149-b1725267d7a6;IngestionEndpoint=https://eastus2-3.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/'
}});</script></head>
<body>
<div b-439pxtwc73="">
<main b-439pxtwc73="" role="main">
<h2 class="text-danger errorHandler">
    An error occurred. If this problem persists, contact USGA Handicap Department.
</h2>
</main>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
<script src="/lib/datatables/datatables.min.js" type="text/javascript"></script>
</body>
</html>

In [33]:
# Initialize the flag variable
error_flag = 0

In [34]:
# Check for the specific error message
error_message = soup.find('h2', class_='text-danger errorHandler')
if error_message and "An error occurred. If this problem persists, contact USGA Handicap Department." in error_message.get_text():
    error_flag = 1

In [35]:
# Output the flag variable
print(f"Error Flag: {error_flag}")

Error Flag: 1

In [95]:
## Test with 9 hole
id_9 = 566
url_9 = base_url + str(id_9)
response = requests.get(url_9)
soup_9hole = BeautifulSoup(response.content, 'html.parser')

In [96]:
metadata_table = soup_9hole.find('table', id='gvCourseTees')

In [97]:
# Extract info
course_name = metadata_table.find_all('td')[0].get_text(strip=True).split(" - ")[0]
city = metadata_table.find_all('td')[1].get_text(strip=True)
state = metadata_table.find_all('td')[2].get_text(strip=True)

In [98]:
## Course data
table = soup_9hole.find('table',id='gvTee')

In [99]:
# Header info
header_row = table.find('tr', class_='tableRows')
headers = [th.get_text(strip=True) for th in header_row.find_all('th')]

In [100]:
headers

['Tee Name',
 'Gender',
 'Par',
 'Course Rating™',
 'Bogey Rating™',
 'Slope Rating®',
 'RatingF9',
 'RatingB9',
 'Front (9)',
 'Back (9)',
 'Bogey Rating (F9)',
 'Bogey Rating (B9)',
 'Slope (F9)',
 'Slope (B9)',
 'TeeID',
 'Length']

In [101]:
len(headers)

16

In [102]:
# Course info
rows = table.find_all('tr')[1:]  # Skip the header row

In [89]:
# Extract data from each row
data = []
for row in rows:
    cells = row.find_all('td')
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)

In [90]:
data[0]

['Blue',
 'M',
 '34',
 '33.7',
 '44.7',
 '118',
 '33.7',
 '',
 '33.7 / 118',
 '/',
 '44.7',
 '',
 '118',
 '118',
 '742317',
 '2873',
 '',
 '']

In [91]:
len(data[0])

18

In [117]:
max_row_data

[['Blue',
  'M',
  '34',
  '33.7',
  '44.7',
  '118',
  '33.7',
  '',
  '33.7 / 118',
  '/',
  '44.7',
  '',
  '118',
  '118',
  '742317',
  '2873',
  '',
  ''],
 ['Red',
  'M',
  '34',
  '32.4',
  '42.8',
  '112',
  '32.4',
  '',
  '32.4 / 112',
  '/',
  '42.8',
  '',
  '112',
  '112',
  '742321',
  '2570',
  '',
  ''],
 ['Blue',
  'F',
  '34',
  '36.4',
  '50.4',
  '119',
  '36.4',
  '',
  '36.4 / 119',
  '/',
  '50.4',
  '',
  '119',
  '119',
  '742322',
  '2873',
  '',
  ''],
 ['Red',
  'F',
  '34',
  '34.7',
  '47.9',
  '112',
  '34.7',
  '',
  '34.7 / 112',
  '/',
  '47.9',
  '',
  '112',
  '112',
  '742319',
  '2570',
  '',
  '']]

In [108]:
max_row_data = []
max_rows = 16  # Set the maximum number of rows to collect
row_count = 0  # Initialize a counter for the number of rows

for row in rows:
    if row_count >= max_rows:
        break  # Stop the loop if we've reached the maximum number of rows

    cells = row.find_all('td')
    row_data = [cell.get_text(strip=True) for cell in cells]
    max_row_data.append(row_data)
    row_count += 1  # Increment the counter for each row processed

In [115]:
len(data[0])

18

In [116]:
data[0]

['Blue',
 'M',
 '34',
 '33.7',
 '44.7',
 '118',
 '33.7',
 '',
 '33.7 / 118',
 '/',
 '44.7',
 '',
 '118',
 '118',
 '742317',
 '2873',
 '',
 '']

In [118]:
# Remove the last two values from each sublist
cleaned_data = [sublist[:-2] for sublist in max_row_data]

In [119]:
len(cleaned_data[0])

16

In [122]:
## Consolidate all into df
df = pd.DataFrame(cleaned_data, columns=headers)
# df = df.drop(columns='CH')
df

,Tee Name,Gender,Par,Course Rating™,Bogey Rating™,Slope Rating®,RatingF9,RatingB9,Front (9),Back (9),Bogey Rating (F9),Bogey Rating (B9),Slope (F9),Slope (B9),TeeID,Length
0,Blue,M,34,33.7,44.7,118,33.7,,33.7 / 118,/,44.7,,118,118,742317,2873
1,Red,M,34,32.4,42.8,112,32.4,,32.4 / 112,/,42.8,,112,112,742321,2570
2,Blue,F,34,36.4,50.4,119,36.4,,36.4 / 119,/,50.4,,119,119,742322,2873
3,Red,F,34,34.7,47.9,112,34.7,,34.7 / 112,/,47.9,,112,112,742319,2570

In [123]:
# Add the extracted values as new columns to the beginning of the DataFrame
df.insert(0, 'Course Name', course_name)
df.insert(1, 'City', city)
df.insert(2, 'State', state)

# Add ts
df['usga_course_id'] = id_9
df['timestamp'] = pd.Timestamp.now()

In [124]:
df

,Course Name,City,State,Tee Name,Gender,Par,Course Rating™,Bogey Rating™,Slope Rating®,RatingF9,...,Front (9),Back (9),Bogey Rating (F9),Bogey Rating (B9),Slope (F9),Slope (B9),TeeID,Length,usga_course_id,timestamp
0,Chosen Valley Golf Club,Chatfield,MN,Blue,M,34,33.7,44.7,118,33.7,...,33.7 / 118,/,44.7,,118,118,742317,2873,566,2024-08-08 18:33:29.342630
1,Chosen Valley Golf Club,Chatfield,MN,Red,M,34,32.4,42.8,112,32.4,...,32.4 / 112,/,42.8,,112,112,742321,2570,566,2024-08-08 18:33:29.342630
2,Chosen Valley Golf Club,Chatfield,MN,Blue,F,34,36.4,50.4,119,36.4,...,36.4 / 119,/,50.4,,119,119,742322,2873,566,2024-08-08 18:33:29.342630
3,Chosen Valley Golf Club,Chatfield,MN,Red,F,34,34.7,47.9,112,34.7,...,34.7 / 112,/,47.9,,112,112,742319,2570,566,2024-08-08 18:33:29.342630

In [125]:
df.columns

Index(['Course Name', 'City', 'State', 'Tee Name', 'Gender', 'Par',
       'Course Rating™', 'Bogey Rating™', 'Slope Rating®', 'RatingF9',
       'RatingB9', 'Front (9)', 'Back (9)', 'Bogey Rating (F9)',
       'Bogey Rating (B9)', 'Slope (F9)', 'Slope (B9)', 'TeeID', 'Length',
       'usga_course_id', 'timestamp'],
      dtype='object')

In [69]:
main_cols = ['Course Name', 'City', 'State', 'Tee Name', 'Gender', 'Par',
       'Course Rating™', 'Bogey Rating™', 'Slope Rating®', 'RatingF9',
       'RatingB9', 'Front (9)', 'Back (9)', 'Bogey Rating (F9)',
       'Bogey Rating (B9)', 'Slope (F9)', 'Slope (B9)', 'TeeID', 'Length',
       '', 'usga_course_id', 'timestamp']

In [70]:
len(main_cols)

22